<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - KL Eats</title>
    <link rel="icon" href="/images/file.png" type="image/x-icon">
    <!-- for icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- for swiper slider  -->
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css">

    <!-- fancy box  -->
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
    <!-- custom css  -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .content-padding {
            padding-top: 120px;
            /* Adjust this value as needed */
        }

        /* Add loading overlay styles */
        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        @keyframes bounce {
            from {
                transform: translateY(0);
                opacity: 1;
            }
            to {
                transform: translateY(-16px);
                opacity: 0.5;
            }
        }

        .loading-dot {
            width: 12px;
            height: 12px;
            background: #f40808;
            border-radius: 50%;
            margin: 0 4px;
        }

        .loading-dot:nth-child(1) { animation: bounce 0.5s alternate infinite; animation-delay: 0.2s; }
        .loading-dot:nth-child(2) { animation: bounce 0.5s alternate infinite; animation-delay: 0.4s; }
        .loading-dot:nth-child(3) { animation: bounce 0.5s alternate infinite; animation-delay: 0.6s; }
    </style>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3TDH790Z7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y3TDH790Z7');
    </script>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body class="body-fixed">
    <!-- Add loading overlay -->
    <div id="loading-overlay">
        <div style="display: flex; gap: 8px;">
            <div class="loading-dot"></div>
            <div class="loading-dot"></div>
            <div class="loading-dot"></div>
        </div>
    </div>

    <!-- start of header  -->
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header-logo">
                        <a href="/">
                            <a href="/"><img src="/images/logo.png" width="200" height="80" alt="KL Eats Logo"></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="main-navigation">
                        <button class="menu-toggle"><span></span><span></span></button>
                        <nav class="header-menu">
                            <ul class="menu food-nav-menu">
                                <li><a href="/">Home</a></li>
                                <li style="color: #f40808; font-weight: bold;">
                                    <a href="https://kleats.in/member">Become a member</a>
                                </li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                        <a href="/signin" class="header-btn">
                            <i class="uil uil-user-md" title="SignIn / SignUp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- header ends  -->


    <div id="viewport" class="content-padding">
        <div id="js-scroll-content">

            <!-- Sign In starts  -->

            <section class="about-sec section" id="about" style="background-image: url(/images/menu-bg.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center mb-5">
                                <h2 class="h2-title">Sign Up</h2>
                                <div class="sec-title-shape mb-4">
                                    <img src="/images/title-shape.svg" alt="">
                                </div>
                                <form action="/signup" method="post" onsubmit="return validateAndSubmit(event)">
                                    <input type="text" placeholder="Enter your Name" required class="form-input"
                                        name="name" id="InputName" style="width: 360px;" /><br><br>
                                    <input type="text" placeholder="Enter your Address" required class="form-input"
                                        name="address" id="InputAddress" style="width: 360px;" /><br><br>
                                    <input type="email" placeholder="Enter your Email ID" required class="form-input"
                                        name="email" id="exampleInputEmail1" style="width: 360px;" /><br><br>
                                    <input type="tel" placeholder="Enter your Mobile number" required class="form-input"
                                        name="mobile" id="InputMobile" maxlength="10" style="width: 360px;" 
                                        onchange="validatePhone(this.value)" /><br><br>
                                    <input type="password" placeholder="Enter your Password" required class="form-input"
                                        name="password" id="InputPassword" pattern=".{6,}" title="Minimum 6 character"
                                        style="width: 360px;" /><br><br>
                                    <input type="password" placeholder="Re-Enter your Password" required
                                        class="form-input" name="confirmPassword" id="ConfirmInputPassword"
                                        style="width: 360px;" /><br><br>
                                    <!-- <div class="cf-turnstile" data-sitekey="<%= process.env.TURNSTILE_SITE_KEY %>" data-theme="light"></div> -->
                                    <input type="submit" value="Sign Up" class="sec-btn"
                                        style="color: white; background: orange" /><br>
                                </form>
                                <br>
                                <i class="text-capitalize" style="font-size: 20px;">Already Registred <span
                                        style="font-weight: 600; color: orange; cursor: pointer;"><a href="/signin"
                                            style="color:orange;">Click Here</a></span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Sign In ends  -->


            <!-- footer starts  -->
            <footer class="site-footer" id="contact">
                <div class="top-footer section">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="footer-info">
                                        <div class="footer-logo">
                                            <a href="/">
                                                <img src="/images/file.png" alt="" height="120" width="120">
                                            </a>
                                        </div>
                                        <p>You’ll wonder how you ever lived without us.</p>
                                        <div class="social-icon">
                                            <ul>
                                                <li><a href="https://www.instagram.com/kleats.official?utm_source=qr&igsh=MTZna3N0Y3U1bmRudA==" target="_blank"><i class="uil uil-instagram"></i></a></li>
                                            <li><a href="https://youtube.com/@kleats2024?si=mMXFnxrDZtaed0uz" target="_blank"><i class="uil uil-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="footer-flex-box">
                                        <div class="footer-menu food-nav-menu">
                                            <h3 class="h3-title">Links</h3>
                                            <ul class="column-2">
                                                <li> <a href="/" class="footer-active-menu">Home</a></li>
                                                <li><a href="#about">About</a></li>
                                                <li><a href="#contact">Contact</a></li>

                                            </ul>
                                        </div>
                                        <div class="footer-menu">
                                            <h3 class="h3-title">Company</h3>
                                            <ul>
                                                <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                                                <li><a href="/refund-policy">Refund Policy</a></li>
                                                <li><a href="/contact-us">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="copyright-text">
                                    <p>Copyright &copy; 2025 <span class="name">KL Eats </span>All Rights
                                        Reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="scrolltop"><i class="uil uil-angle-up"></i></button>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- jquery  -->
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <!-- bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

    <!-- fontawesome  -->
    <script src="/javascripts/font-awesome.min.js"></script>

    <!-- swiper slider  -->
    <script src="/javascripts/swiper-bundle.min.js"></script>

    <!-- mixitup -- filter  -->
    <script src="/javascripts/jquery.mixitup.min.js"></script>

    <!-- fancy box  -->
    <script src="/javascripts/query.fancybox.min.js"></script>

    <!-- parallax  -->
    <script src="/javascripts/parallax.min.js"></script>

    <!-- gsap  -->
    <script src="/javascripts/gsap.min.js"></script>

    <!-- scroll trigger  -->
    <script src="/javascripts/ScrollTrigger.min.js"></script>
    <!-- scroll to plugin  -->
    <script src="/javascripts/ScrollToPlugin.min.js"></script>
    <!-- rellax  -->
    <!-- <script src="assets/js/rellax.min.js"></script> -->
    <!-- <script src="assets/js/rellax-custom.js"></script> -->
    <!-- smooth scroll  -->
    <script src="/javascripts/smooth-scroll.js"></script>
    <!-- custom js  -->
    <script src="/javascripts/main.js"></script>

    <script>
    function validatePhone(phone) {
        if (!/^[9876]\d{9}$/.test(phone)) {
            alert("Please enter a valid 10-digit mobile number starting with 9, 8, 7, or 6");
            document.getElementById('InputMobile').value = '';
            document.getElementById('InputMobile').focus();
        }
    }
    </script>

    <!-- Add validation script -->
    <script>
        async function validateAndSubmit(event) {
            event.preventDefault();
            
            const form = event.target;
            const email = form.email.value;
            const mobile = form.mobile.value;
            
            const password = form.password.value;
            const confirmPassword = form.confirmPassword.value;

            // Password validation
            if (password !== confirmPassword) {
                alert('Passwords do not match');
                return false;
            }

            // Show loading overlay
            document.getElementById('loading-overlay').style.display = 'flex';

            try {
                // Check for existing email/mobile
                const response = await fetch('/check-duplicate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        email, 
                        mobile
                        // Removed turnstileToken
                    })
                });

                const result = await response.json();

                if (!result.success) {
                    alert(result.message);
                    document.getElementById('loading-overlay').style.display = 'none';
                    return false;
                }

                // If validation passes, submit the form
                form.submit();

            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
                document.getElementById('loading-overlay').style.display = 'none';
                return false;
            }
        }

        // Hide loading overlay when page is fully loaded
        window.addEventListener('load', function() {
            document.getElementById('loading-overlay').style.display = 'none';
        });
    </script>

    </div>
    </div>
</body>

</html>
